.error-state{
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  width: 980px;
  padding: 40px
}

.space-below {
    margin-bottom: 20px;
}.renderer {
    margin: 0 auto;
    padding: 0;
    width: 42.5rem;
    transform: translateX(min(-14%));
    word-wrap: break-word;
}

@media (max-width: 1300px) {
    .renderer {
        width: 95vw;
        transform: translateX(0);
        margin: 0 auto;
        padding-left: 10px;
    }
}