.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}


.digital-forms-renderer .form-name {
  font-weight: normal;
}

.digital-forms-renderer ul.no-bullets {
  list-style-type: none;
  padding-left: 0;
}

.digital-forms-renderer ol {
  margin-top: 0;
}

.digital-forms-renderer h4 {
  color: rgb(27, 27, 27);
}

.digital-forms-renderer h2 {
  font-size: 1.625rem;
  line-height: 1.5;
}

.digital-forms-renderer h3 {
  font-size: 1.25rem;
}

.digital-forms-renderer .block-style-italic {
  font-style: italic;
  font-weight: 400;
}
/* Reduce shift on tablets and smaller */
@media (max-width: 768px) {
    main {
        width: 80vw;
        transform: translateX(-2%);
        margin-left: 15px !important;
    }

    .form-renderer-item {
        .vads-grid-row {
            flex-direction: column !important;
        }

        .vads-grid-col-5,
        .vads-grid-col-7,
        .vads-u-padding-x--2p5 {
            width: 100% !important;
            flex: none !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
}