@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-form-process";
@import "../../../../platform/forms/sass/m-schemaform";
@import "../../../../platform/forms/sass/m-form-confirmation";

.form-22-0803-container
  .progress-box.progress-box-schemaform
  form
  va-memorable-date {
  white-space: nowrap;

  @media (max-width: $small-screen) {
    white-space: normal;
  }
}
@media print{
  @page {
    margin: 1rem 0 0 0;
  }
  va-button[data-testid="print-page"] {
    display: none;
  }
  h1{
    font-size: 2rem;
  }
  div.form-app h2{
    margin-top: 0.5rem;
    font-size: 1.6rem !important;
    margin-bottom: 0;
  }

  p{
    font-size: 14px;
  }
  div:has(> va-button[text="Dev only: Simulate submission"]) {
    display: none;
  }
}


@media (max-width: $small-screen) {
  .form-22-0803-container .schemaform-buttons,
  .form-22-0803-container .form-progress-buttons {
    display: flex;
    flex-direction: column !important;

    div {
      width: 100%;
    }

    div:first-of-type {
      order: 2;
    }
  }
}
